---
layout: page
title: Categories
permalink: categories.html
---
{% capture site_categories %}{% for tag in site.categories %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_categories: {{ site_categories }} -->
{% assign tag_words = site_categories | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

<div class="categories-page">

  <ul class="categories-box">
    {% for item in (0..site.categories.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <li><a href="#{{ this_word | cgi_escape }}">{{ this_word }} <sup>{{ site.categories[this_word].size }}</sup></a>
    </li>
    {% endunless %}{% endfor %}
  </ul>

  {% for item in (0..site.categories.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  <h3 id="{{ this_word | cgi_escape }}">{{ this_word }}</h3>
  <ul class="posts">
    {% for post in site.categories[this_word] %}
    <li>{{ post.date | date: "%b %d, %Y"  }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endunless %}{% endfor %}

</div>