<header class="site-header">
  <div class="container">
    <h1><a href="{{ "/" | prepend: site.baseurl }}"><span>{{site.title}}</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>
            <li><a href="{{ '/' | prepend: site.baseurl }}/archive.html" title="Archive">archive</a></li>
            <li><a href="{{ '/' | prepend: site.baseurl }}/messages.html" title="Message">Message</a></li>
            <li><a href="{{ '/' | prepend: site.baseurl }}/tags.html" title="Tags">Tags</a></li>
            <li><a href="{{ '/' | prepend: site.baseurl }}/categories.html" title="Categories">categories</a></li>
            <li><a href="{{ '/' | prepend: site.baseurl }}/about.html" title="About">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="sliding-panel-fade-screen"></div>
