<header class="site-header">
  <div class="container">
    <h1><a href="{{ site.url}}"><span>{{site.title}}</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>
            <li><a href="{{ site.url}}/{{ site.archive_path }}" title="Archive">Archive</a></li>
            <li><a href="{{ site.url}}/{{ site.messages_path }}" title="Message">Message</a></li>
            <li><a href="{{ site.url}}/{{ site.tags_path }}" title="Tags">Tags</a></li>
            <li><a href="{{ site.url}}/{{ site.categories_path }}" title="Categories">Categories</a></li>
            <li><a href="{{ site.url}}/{{ site.about_path }}" title="About">About</a></li>
            <li><a href="{{ site.url}}/{{ site.rss_path }}" title="RSS">RSS</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="sliding-panel-fade-screen"></div>
