<div class="social-share-panel">
  {% if page.previous %}<a href="{{ page.previous.url }}" title="{{ page.previous.title }}"><div class="prev"><i class="fa fa-angle-left">上一篇</i></div></a>{% endif %} 
  <a class="icon-cc-by" href="http://creativecommons.org/licenses/by/4.0/deed.zh" target="_blank" title="本作品采用知识共享署名 4.0 国际许可协议进行许可">{% include icons/by.svg %}</a>
  {% if page.next %}<a href="{{ page.next.url }}" title="{{ page.next.title }}"><div class="next"><i class="fa fa-angle-right">下一篇</i></div></a>{% endif %} 
</div>
