<ul class="social">
  <li><a href="mailto:{{ site.author.email }}" title="Email"><i class="icon icon-email">{% include icons/email.svg %}</i></a></li>
  <li><a href="{{ site.author.github }}" target="_blank" title="GitHub"><i class="icon icon-github">{% include icons/github.svg %}</i></a></li>
  <li><a href="{{ site.author.zhihu }}" target="_blank" title="知乎"><i class="icon icon-zhihu">{% include icons/zhihu.svg %}</i></a></li>
  <li><a href="{{ site.author.douban }}" target="_blank" title="豆瓣读书"><i class="icon icon-douban">{% include icons/douban.svg %}</i></a></li>
  <li><a href="{{ site.author.v2ex }}" target="_blank" title="V2EX"><i class="icon icon-v2ex">{% include icons/v2ex.svg %}</i></a></li>
  <li><a href="{{ site.author.weibo }}" target="_blank" title="微博"><i class="icon icon-weibo">{% include icons/weibo.svg %}</i></a></li>
  <li><a href="{{ site.author.sf }}" target="_blank" title="Segmentfault"><i class="icon icon-sf">{% include icons/sf.svg %}</i></a></li>
</ul>
